.contact-mains{
    background: #e6dace;
}
.comtact{
    height: 400px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.contect-links{text-decoration: none;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.contect-links a{
    padding: 10px 10px;
    text-decoration: none;
    color: gray;

}
